.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist
/quasar.config.*.temporary.compiled*

# Cordova related directories and files
app/web/src-cordova/node_modules
app/web/src-cordova/platforms
app/web/src-cordova/plugins
app/web/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# BEX related directories and files
/src-bex/www
/src-bex/js/core

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Other local files
.env.local*
.aider*
/private
public/data
app/web/test/cypress/downloads
app/web/test/cypress/screenshots
app/web/test/cypress/videos


