// app global css in SCSS form
html,
body,
#q-app {
  height: 100%;
  // margin: 0;
}

body {
  // max-width: 1200px;
  // margin-left: auto;
  // margin-right: auto;
  font-size: var(--q-font-size);

  .q-field,
  .q-btn,
  .q-tab__label,
  button,
  input,
  optgroup,
  select,
  textarea {
    font-size: var(--q-font-size);
  }
}

body.body--dark {
  background: var(--q-background);
  color: var(--q-foreground);

  .q-list--dark,
  .q-item--dark,
  .q-field--dark .q-field__native,
  .q-field--dark .q-field__prefix,
  .q-field--dark .q-field__suffix,
  .q-field--dark .q-field__inpu {
    color: var(--q-foreground);
  }

  .q-field--dark:not(.q-field--focused) .q-field__label,
  .q-field--dark .q-field__marginal,
  .q-field--dark .q-field__bottom {
    color: var(--q-foreground);
  }

  .q-field--dark .q-field__control:before {
    border-color: var(--q-border);
  }

  .q-btn--outline:before {
    border: 1px solid var(--q-border);
  }
}

.q-tooltip--style {
  font-size: 12px;
}

.text-disabled {
  color: var(--q-border);
}

::selection {
  background-color: var(--q-selection);
}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--q-scrollbar-thumb);
  background-clip: padding-box;
  border-radius: 10px;
  transition: background-color 0.32s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--q-scrollbar-thumb-hover);
  border-radius: 10px;
}

.border {
  border: 1px solid var(--q-border);
  border-radius: 4px;
}

.q-btn-dropdown--split .q-btn-dropdown__arrow-container.q-btn--outline {
  border-left: 1px solid var(--q-border) !important;
}

.q-list--dark .q-item__label--overline,
.q-list--dark .q-item__label--caption,
.q-item--dark .q-item__label--overline,
.q-item--dark .q-item__label--caption {
  color: var(--q-foreground-dimmed);
}

.page-title {
  font-size: 26px;
}

.config-section-title {
  font-size: 20px;
  padding: 8px 8px;
}

// Fix light mode

.body--light .q-list--bordered {
  border: 1px solid rgba(0, 0, 0, 0.18);
}

.q-list--separator > .q-item-type + .q-item-type,
.q-list--separator > .q-virtual-scroll__content > .q-item-type + .q-item-type {
  border-top: 1px solid rgba(0, 0, 0, 0.18);
}

body.desktop .q-focusable:focus > .q-focus-helper,
body.desktop .q-manual-focusable--focused > .q-focus-helper,
body.desktop .q-hoverable:hover > .q-focus-helper {
  opacity: 0.18;
}

.q-field--filled .q-field__control:hover {
  background: #0000000a;
}

.q-field--filled .q-field__control {
  background: #00000020;
}

.default-font-family {
  font-family: "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button-menu-item {
  font-size: 14px;
  font-weight: normal;
  color: var(--q-color-foreground) !important;
  text-transform: none;
  margin-left: 16px;
}
